.container {
  padding: 0 0rem;
}

.main {
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #B9261C;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin-top: 50px;
  line-height: 1.15;
  font-size: 6rem;
  font-weight: 600;
  background: linear-gradient(45deg, #892afe 33%, #ff2366 66%, #B9261C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
}

.title,
.description {
  text-align: center;
  color: white;
}

.connect {
  margin-bottom: 2rem;
  width: 230px;
 
}



.description {
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1800px;
}

.heroca {
  background-color: #1b2129;
  margin: 2rem;
  padding: 1.5rem;
  text-align: left;
  color: white;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 1000px;
}

.heroca:hover,
.heroca:focus,
.heroca:active {
  background-color: #272c34;
  color: #ff2366;
  border-color: #ff2366;
}

.card {
  background-color: #1b2129;
  margin-top: 5rem;
  padding: 1.5rem;
  text-align: left;
  color: white;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 1000px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #1b2129;
  color: #ff2366;
  border-color: #ff2366;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    margin: 3 3;
    font-size: 3rem;
    
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
