.container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    
    
    margin-bottom: 0px;
  }
  
  .previewImage {
    height: 500px;
    width: 500px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    padding: 8px;
  }
  
  .mintInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 24px;
    min-height: 720px;
    max-width: 100vw;
    gap: 2%;
    border: 1px solid var(--border-color);
    border-radius: 16px;
  }

  
  .infoSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
  }
  
  .description {
    opacity: 0.7;
    font-size: 1rem;
  }
  
  .imageSide {
    width: 350px;
    height: 350px;
 
    
  }
  
  .image {
    width: 100%;
    border-radius: 16px;
    border: 2px solid grey;
    margin-left: 0px;
    margin-bottom: 15px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 12px 0;
  }
  
  .mainButton {
    cursor: pointer;
    display: inline-flex;
    appearance: none;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    line-height: 1.2;
    font-weight: 800;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-duration: 200ms;
    height: 2rem;
    min-width: 3rem;
    font-size: 1rem;
    background: #e5e5ea;
    background-image: linear-gradient(to right, #892afe 0%, #B9261C 101.52%);
    color: #fff;
    width: 100%;
    text-align: center;
    border-radius: 9px;
    margin-left: 1px;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .mainButton:hover {
   
    background-image: linear-gradient(to left, #892afe 0%, #B9261C 101.52%);
    transform: scale(1.1)
  }
  
  .buttonGapTop {
    cursor: pointer;
    margin-top: 32px;
  }
  
  .quantityContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  
  .mintContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 5px;
   
  }
  
  .textInput {
    width: 48px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 8px;
    color: #fff;
    height: 48px;
    padding: 0 16px;
    font-size: 1rem;
  }
  
  .quantityControlButton {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 27%;
    font-size: 2rem;
    background-color: transparent;
    border: 1px solid grey;
    color: #fff;
    
  }
  
  .quantityControlButton:disabled {
    opacity: 0.25;
  }

  .mintAreaLeft {
    margin-right: 5%;
    opacity: 0.75;
  }
  
  .mintAreaRight {
    margin-right: 5%;
    opacity: 0.75;
  }
  
  /* On mobile, make the .mintInfoContainer stack vertically */
  @media screen and (max-width: 850px) {
    .mintInfoContainer {
      flex-direction: column;
      padding-bottom: 10%;
    }
  
    .infoSide {
      width: 100%;
    }
  
    .imageSide {
      width: 100%;
    }

    .mintContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10%;
        margin-bottom: 45px;
       
      }

      
  }